@import '../../styles/style.scss';

.wrapper-content {
    @media (max-width: 561px) {
        width: 100%;
    }
}

.sign-in-form {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 358px;
    background-color: #ffff;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);

    @media (max-width: 561px) {
        width: 100%;
        align-items: center;
    }

    h1 {
        margin: 40px 30px 20px 30px;
    }

    &__user {
        //! альтернатива миксинам, через расширенное наследование
        @extend %border;

        // TODO не получилось через наследование передать новые свойства в media
        @media (max-width: 561px) {
            width: 100%;
            margin: 0px 0px 10px 0px;
            border: 1px solid $Dark_Shade_25;
            border-radius: 4px;
            padding: 0px 0px 0px 15px;
        }
    }

    &__pass {
        //! альтернатива миксинам, через расширенное наследование
        @extend %border;

        // TODO не получилось через наследование передать новые свойства в media
        @media (max-width: 561px) {
            width: 100%;
            margin: 0px 10px 0px 10px;
            border: 1px solid $Dark_Shade_25;
            border-radius: 4px;
            padding: 0px 0px 0px 15px;
        }
    }
}

.btn-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 30px 30px 30px;
    @include buttonAppearance;

    @media (max-width: 561px) {
        @include buttonAppearance(44px, 100%);
        margin: 10px 0px 30px 0px;
    }

    &__btn {
        @include font-family-color-size('Montserrat_700', $white);
        padding-left: 43%;
    }
}

// =============== Модификатор ===============================//
.opacitys {
    transition: all 0.4s ease 0s;
    opacity: 0.6;
}

.opacitys:hover {
    transition: all 0.3s ease 0s;
    border: 1px solid black;
    opacity: 1;
}
// ----------------- Модификатор ----------------------------//

// .wrapper-content {
//     width: 100%;
//     height: 740;
// }

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

//====== arrow ===================================
.btn-arrow-1 {
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 44px;
}
.btn-arrow-1 div {
    position: relative;
    top: 20px;
    width: 14px;
    height: 2px;
    background-color: $white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    left: 0;
    display: block;
}
.btn-arrow-1 div::after {
    content: '';
    position: absolute;
    width: 11px;
    height: 2px;
    top: -3.2px;
    right: -3px;
    background-color: $white;
    transform: rotate(45deg);
}
.btn-arrow-1 div::before {
    content: '';
    position: absolute;
    width: 11px;
    height: 2px;
    top: 3.2px;
    right: -3px;
    background-color: $white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    transform: rotate(-45deg);
}
.btn-content:hover {
    .btn-arrow-1 {
        animation: btn-arrow-1 1s linear infinite;
    }
}

@keyframes btn-arrow-1 {
    0% {
        left: 0;
    }
    50% {
        left: 10px;
    }
    100% {
        left: 0;
    }
}
// ------ arrow ----------------------------------//

.sign-in-form__link {
    display: flex;
    justify-content: space-around;

    @media (max-width: 561px) {
        width: 100%;
    }

    span {
        margin-top: 8px;
    }

    a {
        @include buttonAppearance(44px, 99px, $white, $border: true);
        @include font-family-color-size('Montserrat_700', $Purple, 12px);
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
}
