@import '../../styles/style.scss';
// TODO почему то размер кнопки входа великоват, страннно, исправить
// TODO шрифт кажется, что нисковат

.header {
    background-color: $white;
    position: relative;
    z-index: 50;

    // .header__container
    &__container {
        position: relative;
        display: flex;
        align-items: center;
        height: 70px;

        @media (max-width: $md3+px) {
            justify-content: space-between;
        }
    }

    // .header__logo
    &__logo {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 2;
        max-width: 100%;
    }

    // .header__menu
    &__menu {
    }

    // .header__actions
    &__actions {
    }
}

// .icon-menu {
// }
.menu {
    flex: 1 0 auto;

    // .menu__body
    &__body {
    }

    // .menu__list
    &__list {
        display: flex;
        justify-content: end;

        li {
            margin: 0px 10px;
        }
    }

    &__link {
        color: $Dark_Shade_50;
        text-decoration: none;
    }
}
.actions-header {
    // .actions-header__btn
    &__btn {
    }
}

.header-btn {
    display: flex;

    // .header-btn__log-in
    &__log-in {
        margin: 0px 20px 0px 10px;
        @include buttonAppearance(34px, 87px, $white, $border: true);

        &_main {
            @include centeringContentInl-Flex;
            font-family: 'Montserrat_700';
            color: $Purple;
        }
    }

    // .header-btn__sign-up
    &__sign-up {
        @include buttonAppearance(34px, 196px);

        // .header-btn__sign-up_main
        &_main {
            @include centeringContentInl-Flex;
            font-family: 'Montserrat_700';
            color: $white;
        }
    }
}
