- var btn_collection = [['__log-in', 'войти'], ['__sign-up', 'зарегистрироваться']];

header.header
  .header__container._container
    .icon-menu
      span 
      span 
      span

    a.header__logo(href="/")
      img(src="img/Logo.svg", alt="img")
    .header__menu.menu
      nav.menu__body
        ul.menu__list
          li
            a(href="").menu__link О нас
          li
            a(href="").menu__link Услуги
          li
            a(href="").menu__link Вакансии
          li
            a(href="").menu__link Новости
          li
            a(href="").menu__link Соглашения

        //- a.actions-header__region
        //-   span
    .header__actions.actions-header
      //- a.actions-header__region
      //-   span
      .actions-header__btn
        +btn(btn_collection, 'header-btn')
