@import '../../styles/color.scss';

@mixin buttonAppearance($h: 44px, $w: 320px, $color: $PurpleGredient, $border: false) {
    height: $h;
    width: $w;
    background: $color;
    border-radius: 22px;
    cursor: pointer;
    @if $border != false {
        border: 2px solid $Purple;
        box-sizing: border-box; // теперь будет расчитывать размер блока с учетом ширины рамки
    }
}
