- var menuFooler = [{email: "ruslan@gmail.com"}, {adres: "Moscow"}];

footer.footer
  .footer__container._container
    .footer__top
      .footer-menu
        ul.footer-menu-logo
          li
            a.footer-menu-logo__logo(href="/")
              img(src="img/Logo.svg", alt="img")
          li.footer-menu-logo__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды» 
        ul.footer-menu__ul
          li.darck100 НАВИГАЦИЯ
          li.footer-menu__list
            a(href="").footer-menu__link О нас
          li.footer-menu__list 
            a(href="").footer-menu__link Новости
          li.footer-menu__list
            a(href="").footer-menu__link Служба поддержки
          li.footer-menu__list
            a(href="").footer-menu__link Услуги
        ul.footer-menu__ul
          li.darck100 О НАС
          li.footer-menu__list
            a(href="").footer-menu__link О сервисе
          li.footer-menu__list
            a(href="").footer-menu__link Наша команда
          li.footer-menu__list
            a(href="").footer-menu__link Вакансии
          li.footer-menu__list
            a(href="").footer-menu__link Инвесторы
        ul.footer-menu__ul
          li.darck100 СЛУЖБА ПОДДЕРЖКИ
          li.footer-menu__list
            a(href="").footer-menu__link Соглашения
          li.footer-menu__list
            a(href="").footer-menu__link Сообщества
          li.footer-menu__list
            a(href="").footer-menu__link Связь с нами
        ul.footer-menu__ul
          li.darck100 ПОДПИСКА
          li.footer-menu__list Получайте специальные предложения и новости сервиса
          .footer-menu__list.footer_email
            form(action="#" method="post")
              .form-text-content
                input(type="text" placeholder="Email")


    .footer__bot
      .bot-left Copyright © 2018 Toxin отель. Все права защищены.
      .bot-right
        .bot-right__1 a
        .bot-right__2 b
        .bot-right__3 c