@import '../../styles/style.scss';

.footer__top {
    display: flex;
    align-items: center;
    height: 372px;
}

.footer-menu {
    display: flex;
    width: 100%;
    justify-content: space-between;

    &__ul {
        // margin-left: 80px;
    }

    &__link {
        color: $Dark_Shade_50;
        font-family: 'Montserrat_400', sans-serif;
    }

    &__list {
        margin: 20px 0px 0px 0px;
        max-width: 250px;
    }

    li {
        margin: 20px 0px 0px 0px;
    }
}

.form-text-content {
    width: 260px;
    height: 44px;
    border: 1px solid $Dark_Shade_25;
    border-radius: 2px;
    display: flex;
    padding: 0px 0px 0px 15px;
}
.footer-menu-logo {
    max-width: 260px;
}

.darck100 {
    color: $Dark_Shade_100;
    font-family: 'Montserrat_700', sans-serif;
    font-size: 12px;
}

.footer__bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-top: 1px solid $Dark_Shade_25;
}

.bot-left {
    font-family: 'Montserrat_400', sans-serif;
}

.bot-right {
    display: flex;
}
