$Dark_Shade_100: rgb(31, 32, 65, 1);
$Dark_Shade_75: rgb(31, 33, 65, 0.75);
$Dark_Shade_50: rgb(31, 32, 65, 0.5);
$Dark_Shade_25: rgb(31, 32, 65, 0.25);
$Dark_Shade_5: rgb(31, 32, 65, 0.05);
$Purple: rgb(188, 156, 255);
$Green: #6fcf97;
$white: #ffffff;
