@import '../blocks_modules/button/button-mix.scss';

@mixin centeringContentInl-Flex {
    height: 100%;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

@mixin font-family-color-size($family: false, $color: false, $font-size: false) {
    @if $family != false {
        font-family: $family;
    }

    @if $color != false {
        color: $color;
    }

    @if $font-size != false {
        font-size: $font-size;
    }
}

// ! Альтернатива миксину через расширенное наследование свойств
//TODO установить в медиа-вовремя адаптива почему то не получается
%border {
    width: 320px;
    height: 44px;
    margin: 0px 30px 10px 30px;
    border: 1px solid $Dark_Shade_25;
    border-radius: 4px;
    padding: 0px 0px 0px 15px;
}

// ==============================================================================/
@mixin size {
    width: 300px;
    height: 300px;
}

// * можем ставить дефолтные значения аргументов
@mixin sizeAndColor($h, $w: 200px, $color: red) {
    width: $w;
    height: $h;
    background: $color;
}
