@mixin size {
    width: 300px;
    height: 300px;
}

// * можем ставить дефолтные значения аргументов
@mixin sizeAndColor($h, $w: 200px, $color: red) {
    width: $w;
    height: $h;
    background: $color;
}
