extends ../layouts/main

block variables
  - var title = "Registration";
  - var description = "description for Webpack + pug №3";
  - var pageClass = "registration";
  - var mainClass = "background-sign";
  - var mainStyle = 'background-image: url("img/sign_in.jpg");';

block content
  include ../blocks_modules/sign-in-form/sign-in-form