extends ../layouts/main

block variables
  - var title = "Sign in";
  - var description = "description for Webpack + pug №2";
  - var pageClass = "sign_in";
  - var mainClass = 'main_sign_in';

block content
  img(src="img/sign_in.jpg", class="background")

