mixin accordion-menu(text, arr)
  ul.accordion-menu
    li
      .dropdownlink
        i(class="fa fa-road" aria-hidden="true")
        | #{text}
        i(class="fa fa-chevron-down" aria-hidden="true")
      
      - if(Array.isArray(arr))
        ul.submenuItems
          - for (var i = 0; i < arr.length; i++)
            li
              a(href="#") #{arr[i]}